.deck-selection-main-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 42, 42);
  position: absolute;
  z-index: 10;
}
.deck-selection-box {
  width: 90vw;
  height: auto;
  padding: 15px;
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.deck-selection-box .title {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.selection-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.selection-box {
  width: 20%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selection-box img {
  width: 100%;
  height: 70%;
  object-fit: contain;
}

.player-selection-container {
  width: 20%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.start-button {
  margin-top: 20px;
}
.button-clicked {
  border: 2px solid red;
  background-color: #528ef5;
}

.play-name-input-container {
  width: 65%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.name-input-label {
  font-size: 25px;
}
.name-input {
  height: 40px;
  padding: 0px 5px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  margin-left: 10px;
}
.alert {
  font-size: 20px;
  color: #ff0000;
}
