.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/mainback.WebP");
  background-size: cover;
}
.main_selection {
  width: 600px;
  height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4vh;
}
.main_selection_button {
  width: 280px;
  background-color: #1c69ee;
  color: white;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 10px;
  transition-duration: 0.2s;
}
.main_selection_button:hover {
  background-color: #528ef5;
  cursor: pointer;
}
