.main {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.white-out {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.match-background {
  width: 100vw;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.game_container {
  width: 100%;
  height: 88%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 1.5vw;
}
.game_container.center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #0f43ff;
}
