.score-card-single {
  min-width: 600px;
  padding-left: 10px;
  font-size: 25px;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  float: right;
}
.score-card-double {
  min-width: 1300px;
  padding-left: 10px;
  font-size: 25px;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  float: right;
}

.players-wrapper {
  width: 350px;
}
.player-1 {
  color: rgb(26, 176, 10);
}
.player-2 {
  color: rgba(242, 255, 1, 0.925);
}
